:root {
  font-size: 62.5%;
  --site-color-01: #AA7957;
  --site-color-01-hover: #A38F85;
  --site-color-02: #e5ecf1;
  --site-color-03: #ffdfd1;
  --site-color-04: #C7977A;
  --site-color-05: #8b8c8e;
  --site-color-06: #E1C8C4;
  --site-color-07: #ff007f;
  --site-color-logo-background: #f9f8f7;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Black.ttf) url(../fonts/Roboto-BlackItalic.ttf) url(../fonts/Roboto-Bold.ttf) url(../fonts/Roboto-BoldItalic.ttf) url(../fonts/Roboto-Italic.ttf) url(../fonts/Roboto-Light.ttf) url(../fonts/Roboto-LightItalic.ttf) url(../fonts/Roboto-Medium.ttf) url(../fonts/Roboto-MediumItalic.ttf) url(../fonts/Roboto-Regular.ttf) url(../fonts/Roboto-Thin.ttf) url(../fonts/Roboto-ThinItalic.ttf);
}

body {
  background-color: #fff;
}

body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/Facebook_icon.svg.png) url(../img/Instagram_logo_2022.png);

}

.wrapper-main {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(2rem, 6vw, 3rem);
  line-height: 1.5;
  color: #fff;
  font-family: Bodoni Moda;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1.8rem, 4vw, 2.8rem);
  line-height: 1.5;
  color: #fff;
  font-family: Roboto;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: clamp(1.6rem, 3.5vw, 2.2rem);
  line-height: 1.5;
  color: #fff;
  font-family: Roboto;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  line-height: 1.75;
  color: #fff;
  font-family: Roboto;
}

a {
  cursor: pointer;
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  line-height: 1.75;
  color: #fff;
  font-family: Roboto;
}

.header-main {
  width: 100%;
  height: 60px;
  background-color: var(--site-color-02);
  display: flex;
  justify-content: space-between;
  background-color: var(--site-color-logo-background);
  position: fixed;
  top: 0;
  z-index: 1000;

}

.header-main-logo {
  width: fit-content;
  height: 100%;
  display: flex;
  padding-left: 60px;
}

.header-main-logo img {
  height: 60px;
  align-self: center;
}

.header-main-nav {
  width: fit-content;
  height: 100%;
  padding-left: 20px;
}

.header-main-nav ul {
  list-style: none;
}

.header-main-nav ul li {
  display: inline;
  float: left;
}

.header-main-nav ul li a {
  padding: 0 10px;
  font-family: Roboto, sans-serif;
  line-height: 60px;
  color: #3a3636;
  display: block;
  height: 100%;
}

.header-main-nav ul li a:hover {
  color: var(--site-color-01-hover);
}

.header-main-sm {
  width: fit-content;
  height: 100%;
  padding-right: 60px;

  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-main-sm-fb {
  width: 20px;
  height: 20px;
  background-image: url(../img/Facebook_icon-bw.svg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-fb:hover {
  background-image: url(../img/Facebook_icon.svg.png);
}

.header-main-sm-in {
  width: 20px;
  height: 20px;
  background-image: url(../img/Instagram_logo_bw.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-in:hover {
  background-image: url(../img/Instagram_logo_2022.png);
}

/*FOOTER*/

.footer-main {
  width: 100%;
  padding: 60px 0 100px;
  background-color: var(--site-color-01-hover)
}

.footer-main-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-review {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-review img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px;
}

.footer-review p {
  text-align: center;
  font-size: 1.6rem;
  padding: 20px 20px 0;
}

.footer-getintouch {
  padding: 10px 20px;
  margin: 40px 0 60px;
  border: 2px solid #fff;
  font-weight: 600;
  transition: ease-in-out 200ms;
}

.footer-getintouch:hover {
  background-color: var(--site-color-07);
}

.footer-sitemap {
  flex-basis: 100%;
  display: flex;
}

.footer-sitemap a {
  line-height: 30px;
  transition: ease-in-out 150ms;
}

.footer-sitemap a:hover {
  color: var(--site-color-07);
}

.footer-sitemap ul:nth-child(1) {
  border-left: 3px solid var(--site-color-07);
  padding-left: 20px;
}

.footer-sitemap ul:nth-child(1),
.footer-sitemap ul:nth-child(2) {
  flex-basis: 180px;
}

.footer-sitemap ul:nth-child(3) {
  flex-basis: 340px;
  text-align: center;
}

.footer-sitemap p {
  text-transform: uppercase;
}

.footer-sitemap ul:nth-child(4) {
  flex-grow: 1;
}

.footer-sitemap ul:nth-child(4) li {
  text-align: right;
}

.burger-menu,
.burger-menu-btn {
  display: none;
}

/*MOBILE VERSION*/

@media only screen and (max-width: 600px) {

  .burger-menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../icons/burger-menu.png), url(../icons/close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
  }

  .burger-menu {
    display: none;
    margin-left: 10px;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: #111;
  }

  .burger-menu ul {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
  }

  .burger-menu ul li:last-child {
    border-bottom: 2px solid #000;
  }

  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px 0;
    flex-basis: 100%;
    text-align: center;
  }

  .wrapper-main {
    width: calc(100% - 40px);
  }


  .header-main-logo {
    padding-left: 20px;
  }

  .header-main-nav {
    display: none;
  }

  .header-main-sm {
    padding-right: 20px;
  }

  /*FOOTER*/

  .footer-review {
    display: none;
  }

  .footer-getintouch {
    margin: 0 0 60px;
  }

  .footer-sitemap {
    flex-wrap: wrap;
  }

  .footer-sitemap a {
    line-height: 30px;
    transition: ease-in-out 150ms;
  }

  .footer-sitemap a:hover {
    color: var(--site-color-07);
  }

  .footer-sitemap ul:nth-child(1) {
    border-left: none;
    padding-left: 0;
  }

  .footer-sitemap ul:nth-child(1),
  .footer-sitemap ul:nth-child(2),
  .footer-sitemap ul:nth-child(3) {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
  }


  .footer-sitemap p {
    padding: 0 20px;
  }


  .footer-sitemap ul:nth-child(4) p {
    text-align: center;
  }
}